entrypoint = "README.md"
modules = ["nodejs-22", "python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["jq", "imagemagick", "chromium", "glib", "nss", "nspr", "at-spi2-atk", "cups", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXrandr", "mesa", "pango", "cairo", "alsa-lib", "xorg.libxcb", "xorg.libX11", "zip"]

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5077
externalPort = 3001

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[env]
PORT = "5000"

[agent]
stack = "EXPO"
integrations = ["stripe:2.0.0", "javascript_openai_ai_integrations:2.0.0", "revenuecat:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[[workflows.workflow]]
name = "Start App"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run expo:dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[userenv]

[userenv.shared]
REVENUECAT_PROJECT_ID = "proj526bcb9a"
REVENUECAT_TEST_STORE_APP_ID = "app42c86b5c5a"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appbe34b13fe7"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app5e42f82fab"
REVENUECAT_ENTITLEMENT_ID = "premium"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_YkkBoTcxdgUQwhzVIdVtwpDTBSW"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_oZJqowvfSUUDDXXjzpRzjTpLYVU"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_jwLjkvSNEuTiisoiwKkvhGOsGdK"
REVENUECAT_ENTITLEMENT_RC_ID = "entlccdde24edc"
